<%- include("header") -%>

<h2>About page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo ducimus nihil natus maiores labore ea eligendi in numquam, aliquid illum est! Harum ipsum est deleniti veritatis. Vel harum minima consectetur.</p>

<%- include("footer") -%>
